<%- include('../../partials/navAdm') %>

<h1>Categorias</h1>

<a href="/admin/categorias/novo">Adicionar Categoria</a>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Ações</th>
  </tr>
  <% categorias.forEach(c => { %>
    <tr>
      <td><%= c.id %></td>
      <td><%= c.nome %></td>
      <td>
        <a href="/admin/categorias/editar/<%= c.id %>">Editar</a>
        <a href="/admin/categorias/excluir/<%= c.id %>">Excluir</a>
      </td>
    </tr>
  <% }) %>
</table>
